/* navbar */
.nav.navbar-nav.navbar-right li a {
    color: white;}
.navbar-header .navbar-brand {
    color: white;}


body, html {
    background-color: aliceblue;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

{
    box-sizing: border-box;
}
/* The image used */
.bg-img {
    background-image: url("../asset/img_bg.jpg");

    min-height: 680px;

/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* styles to the form container */
.container {
    position: absolute;
    right: 400;
    margin: 150px;
    max-width: 600px;
    padding: 50px;
    background-color: white;
    border: 2px solid #226fb2;
}


/* style for the submit button */
.btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}